@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.sitebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: max-content;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 80px 20px 80px 20px;
    background-color: white;

    color: #263245;
    font-size: max(16px, 1vw, 2vh);
    text-align: center;

    position: relative;
    overflow: hidden;

    box-shadow: 0 0 0 3px #e7e7e7 inset;

    background-image:
        url('lime.png'),
        url('ferns-left.min.png'),
        url('ferns-right.min.png')
    ;
    background-position:
        center top,
        center left,
        center right
    ;
    background-size:
        auto,
        contain,
        contain
    ;
    background-repeat: no-repeat;
}

.sitebar img {
    display: block;
}

.sitebar__onlyshorttime {
    margin-bottom: 30px;
    padding: 0.25em 0.75em;

    color: white;
    font-size: 1.125em;
    font-style: italic;

    position: relative;
    z-index: 1;
}
.sitebar__onlyshorttime::after {
    content: '\0020';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00a4ef;
    border-radius: 4px;
    transform: skewX(-6deg);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sitebar__headline {
    display: block;
    margin-bottom: 20px;
    width: min(calc(517 / 16 * 1em), 517px);
    max-width: 100%;
}

.sitebar__subheadline {
    background-color: #e7e7e7;
    margin-bottom: 20px;
    padding: 0.25em 0.5em;

    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
}
.sitebar__subsubheadline {
    margin-bottom: 20px;
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: normal;
    text-shadow:
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white,
        0 0 3px white
    ;
}
.sitebar__subsubheadline strong {
    color: #ff004e;
}

.sitebar__boxes {
    overflow: hidden;
    width: calc(100% + 34px);
    height: calc(153 / 16 * 1em);
    margin-bottom: 20px;

    position: relative;
}
.sitebar__boxes .slider {
    height: 100%;
    width: calc((1147 / 16 * 1em) * 2 - 6px);
    background-image: url('boxes.min.png');
    background-repeat: repeat-x;
    background-position: left center;
    background-size: auto calc(153 / 16 * 1em);
    animation: sitebar-boxes-slider 18s linear 0s infinite normal forwards;
}
@keyframes sitebar-boxes-slider {
    to {
        transform: translateX(-50%);
    }
}
.sitebar__boxes::before,
.sitebar__boxes::after {
    content: '\0020';
    display: block;
    height: 100%;
    width: 20px;

    position: absolute;
    top: 0;
    z-index: 1;
}
.sitebar__boxes::before {
    left: 0;
    background-image: linear-gradient(
        to right,
        white,
        rgb(255,255,255,0)
    );
}
.sitebar__boxes::after {
    right: 0;
    background-image: linear-gradient(
        to left,
        white,
        rgb(255,255,255,0)
    );
}


.sitebar__button {
    padding: 0.5em 1em;
    background-color: #3ea51f;
    border-radius: 6px;
    box-shadow: 0 4px 8px -6px rgb(32, 63, 23);

    color: white;
    font-size: 1.375em;
    line-height: 1.25;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -0.05em;
}
.sitebar__button::after {
    content: '\0020';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sitebar__footer {
    display: flex;
    flex-flow: wrap;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #e7e7e7;
    border-radius: 3px 3px 0 0;
    position: absolute;
    bottom: 0;
}
.sitebar__footer .logo {
    width: 130px;
    margin-right: 10px;
}
.sitebar__footer .slogan {
    white-space: pre;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -0.05em;
}